.contenedorSuperior {
    background: #0E0F0F;
    border: 1px solid #42331A;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contenedorSuperior__titulo {
    font-family: 'Beaufort';
    font-size: 1.25rem;
    text-align: center;
    color: #F0E6D2;
    font-weight: 500;
}

.contenedorSuperior__progreso{
    font-family: 'Beaufort';
    font-size: 0.6rem;
    text-align: right;
    color: #C89B3C;
    font-weight: 400;
    margin: 16px 8px;
}

.contProgreso{
    width: 95%;
    -webkit-box-shadow: 0px 0px 23px 3px rgba(200,155,60,1);
    -moz-box-shadow: 0px 0px 23px 3px rgba(200,155,60,1);
    box-shadow: inset 1px 1px 14px 3px rgba(200,155,60,1);
    clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
}

.contProgreso--porcentaje{
    width: 100%;
    background: rgb(0 0 0 / 50%);
    padding: 10px;
    clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
}