@font-face {
  font-family: 'Beaufort';
  src: url("../public/fuentes/BeaufortforLOL-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Spiegel';
  src: url("../public/fuentes/spiegel.ttf");
  font-weight: 500;
}

h1{
  font-family: 'Spiegel';
}